* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.mainContainer {
  width: 100%;
  height: 20vh;
  border: 1px solid green;
  position: relative;
  display: flex;
  align-items: end;
}
.changeHeight {
  height: 80%;
}
.bar {
  height: 100%;
  width: 2.5vw;
  background-color: red;
  border: 1px solid black;
}
